Source: ags
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13),
               node-typescript,
               npm,
               meson,
               libgjs-dev,
               gjs,
               libgtk-layer-shell-dev,
               libgtk-3-dev,
               libpulse-dev,
               network-manager-dev,
               libgnome-bluetooth-3.0-dev,
Rules-Requires-Root: no

Package: ags
Architecture: linux-any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         cava,
         sassc,
         playerctl,
         gjs,
         upower,
         curl,
Provides: ags
Description: flexible js powered gtk widget framework
